/* Variables */
$toggleWidth: 40px;
$toggleHeight: 50px;

$sidebarWidth: 200px;
$sidebarHeight: 100%;

$navHeight: 60px;
$navBGColor: #161616;
$navFGColor: #ffffff;

$bgColor: #2a2b2b;
$fgColor: #ffffff;
$successBGColor: #79ff79;
$successFGColor: #00a400;
$errorBGColor: #ff8080;
$errorFGColor: #df0000;

$borderRadius: 8px;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
    background-color: $bgColor;
}

.wrapper {
    display: block;
    margin: 0px;
    padding: 0px;
}

#navbar {
    height: $navHeight;
    background-color: $navBGColor;
    color: $navFGColor;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

#branding {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#navbar h1 {
    font-weight: 300;
}



#sidebar {
    position: fixed;
    min-width: $sidebarWidth;
    max-width: $sidebarWidth;
    height: $sidebarHeight;

    top: $navHeight;
    left: -$sidebarWidth;
    transition: all 0.3s ease-in-out;

    z-index: 3;
    background-color: $navBGColor;
    color: $navFGColor;

    padding: 10px;

    &.active {
        left: 0;
    }
    
    .title {
        text-align: center;
    }

    button.activate-toggle {
        position: absolute;
        width: $toggleWidth;
        height: $toggleHeight;
        top: calc(50% - $toggleHeight - $navHeight);
        right: -$toggleWidth;
        font-size: 18pt;
        line-height: 0px;
    
        z-index: 4;
        background-color: $navBGColor;
        color: $navFGColor;
        border: none;
        border-radius: 0px $borderRadius $borderRadius 0px;
    
        &:hover {
            cursor: pointer;
        }
    }
}



#container {
    width: 100%;
    height: calc(100% - $navHeight - 1px);
}



#alert-container {
    position: absolute;
    width: 40%;
    inset: auto 20px 20px auto;
    display: flex;
    flex-direction: column;    
    gap: 10px;
}

.alert {
    border-radius: $borderRadius;
    background-color: $navBGColor;
    color: $navFGColor;
    padding: 5px 20px;
    align-items: center;
    position: relative;
    min-height: 30px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 5px;

    &.success {
        background-color: $successBGColor;
        color: $successFGColor;

        & button.close {
            background-color: $successBGColor;
            border-color: $successFGColor;
        }
    }

    &.error {
        background-color: $errorBGColor;
        color: $errorFGColor;

        & button.close {
            background-color: $errorBGColor;
            border-color: $errorFGColor;
        }
    }

    button.close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 23px;
        height: 23px;
        border-radius: 4px;
        background-color: rgb(129, 0, 0);
        color: inherit;
        border: solid 2px;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
        }
    }
}