/* Variables */
$toggleWidth: 40px;
$toggleHeight: 50px;

$sidebarWidth: 350px;
$sidebarHeight: calc(100% - 60px);

$navHeight: 60px;
$navBGColor: #161616;
$navFGColor: #ffffff;

$bgColor: #2a2b2b;
$fgColor: #ffffff;
$successBGColor: #79ff79;
$successFGColor: #059b05;
$errorBGColor: #ec7272;
$errorFGColor: #b40202;

$borderRadius: 8px;


@font-face {
    font-family: "NotoSans";
    src: url('fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NotoSans";
    src: url('fonts/Noto_Sans/NotoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "NotoSans";
    src: url('fonts/Noto_Sans/NotoSans-Light.ttf') format('truetype');
    font-weight: thin;
    font-style: normal;
}
@font-face {
    font-family: "NotoSans";
    src: url('fonts/Noto_Sans/NotoSans-LightItalic.ttf') format('truetype');
    font-weight: thin;
    font-style: italic;
}
@font-face {
    font-family: "NotoSans";
    src: url('fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "NotoSans";
    src: url('fonts/Noto_Sans/NotoSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0px;
    font-family: 'NotoSans', sans-serif;
    background-color: $bgColor;
    max-width: 100%;
    overflow-x: hidden;
}

#wrapper {
    display: block;
    margin: 0px;
    padding: 0px;
}

#navbar {
    height: $navHeight;
    background-color: $navBGColor;
    color: $navFGColor;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;

    position: relative;
    z-index: 1;

    .branding {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h1 {
            font-size: 1.6rem;
            font-weight: 200;
        }
    }
}


#sidebar {
    position: fixed;
    min-width: $sidebarWidth;
    max-width: $sidebarWidth;
    height: $sidebarHeight;
    top: $navHeight;
    z-index: 3;
    background-color: $navBGColor;
    color: $navFGColor;
    padding: 0px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    // Add the dashed lines between the articles within the sidebar.
    > :nth-child(n) {
        border-bottom: dashed thin white;
    }
    > :nth-last-child(1) {
        border-bottom: none;
    }
    
    & > article {
        padding: 30px 30px;
    }

    #sidebar-toggle {
        position: absolute;
        width: $toggleWidth;
        height: $toggleHeight;
        top: calc(($sidebarHeight - $toggleHeight) / 2);
        right: -$toggleWidth;
        font-size: 18pt;
        line-height: 0px;
    
        z-index: 4;
        background-color: $navBGColor;
        color: $navFGColor;
        border: none;
        border-radius: 0px $borderRadius $borderRadius 0px;
        padding: 0px;

        &:hover {
            cursor: pointer;
        }
    }

    & > article h1.title {
        margin-bottom: 30px;
    }
}

#file {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: none;

    #file-form {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

#scene {
    flex: none
}

#applications {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;

    #application-filter {
        display: flex;
        gap: 10px;
        align-items: center;

        #application-filter-input {
            flex-grow: 2;
        }
    }
}

.collapsable {
    height: fit-content;
    overflow: hidden;
    max-height: 100vh;
    position: relative;
    margin: 0px;
    padding: 0px;

    & > .collapsable-toggle {
        display: inline;
        position: absolute;
        right: 10px;
        top: 24px;

        .collapsable-toggle-text {
            padding: 0px;
            margin: 0px;
            transform: rotateZ(-90deg);
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.title {
    display: block;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1.4rem;
}

.info-box-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-box {
    --box-color: #{$fgColor};

    flex: none;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    border: solid thin var(--box-color);
    border-radius: $borderRadius;

    // Alternating colors for the info table. Default is light then dark.
    >:nth-child(2n) {
        background-color: $bgColor;
    }
    >:nth-child(2n+1) {
        background-color: $navBGColor;
    }

    // Alternate version of the above. Dark then light.
    &.start-dark >:nth-child(2n) {
        background-color: $navBGColor;
    }
    &.start-dark >:nth-child(2n+1) {
        background-color: $bgColor;
    }

    // Create a condensed set of data. This is just a quick way of
    // removing the margin from nested p, etc tags from inside the
    // info boxes.
    & > * {
        padding: 10px;
    }
    & * {
        margin: 0px;
    }

    .title-container {
        display: flex;
        align-items: center;
        background-color: var(--box-color);
        color: $bgColor;
        & .dark {
            color: $fgColor;
        }
        
        // Expand the title text to fill the space.
        & .title {
            flex-grow: 2;
            margin: 0px;
            font-size: 1.2rem;
        }

        input[type="color"] {
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 50px;
            height: 30px;

            &:hover {
                cursor: pointer;
            }
            &::-webkit-color-swatch {
                border: none;
            }
            &::-moz-color-swatch {
                border: none;
            }
        }
    }

    .color-display {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    button {
        width: 100%;
    }

    .info-box-kv {
        font-size: 1rem;
        display: flex;
        gap: 10px;
        align-items: center;
    
        .key {
            flex-grow: 2;
            font-size: 1rem;
        }
    }

    .info-box-row {
        display: flex;
        gap: 10px;
        align-items: center;

        .key {
            flex-grow: 2;
            font-size: 1rem;
        }
    }
}

.no-border {
    border: none;
}


#load-dialog {
    #load-dialog-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;

        h1, h2, p {
            padding: 0px;
            margin: 0px;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px 0px;
        }

        #load-layout-text-form {
            flex-grow: 1;

            #load-layout-text-box {
                flex-grow: 1;
                border: solid 2px $navFGColor;
                white-space: pre;
            }
        }
    }    
}


#debug {
    width: fit-content;
    height: fit-content;
    max-width: 60%;
    max-height: 60%;

    h1, h2, h3 {
        margin: 10px 0px;
    }
}


#container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



#alert-container {
    position: absolute;
    width: 40%;
    inset: auto 20px 20px auto;
    display: flex;
    flex-direction: column;    
    gap: 10px;
}

.alert {
    border-radius: $borderRadius;
    background-color: $navBGColor;
    color: $navFGColor;
    padding: 5px 20px;
    align-items: center;
    position: relative;
    min-height: 30px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 5px;

    &.success {
        background-color: $successBGColor;
        color: $successFGColor;

        & button.close {
            background-color: $successBGColor;
            border-color: $successFGColor;

            &:hover {
                background-color: $successFGColor;
                color: $successBGColor;
            }
        }
    }

    &.error {
        background-color: $errorBGColor;
        color: $errorFGColor;

        & button.close {
            background-color: $errorBGColor;
            border-color: $errorFGColor;

            &:hover {
                background-color: $errorFGColor;
                color: $errorBGColor;
            }
        }
    }
}


dialog {
    background-color: $navBGColor;
    color: $navFGColor;
    border: solid thin $fgColor;
    width: 40%;
    height: 50%;
    padding: 20px;

    &::backdrop {
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.5);
    }
}



.popup-window {
    width: 300px;
    height: fit-content;
    background-color: $bgColor;
    border: solid thin $fgColor;

    position: absolute;
    top: 500px;
    left: 500px;

    display: flex;
    flex-direction: column;

    color: $fgColor;

    box-shadow: 0px 0px 20px 0px $bgColor;

    .title-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: $navBGColor;
        color: $fgColor;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .draggable {
        &:hover {
            cursor: move;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}



.vector-input-container {
    display: flex;
    gap: 5px;
    align-items: center;

    .number-input-container {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;

        input[type=number] {
            width: 45px;
            margin-top: 2px;
            padding: 3px 0px 3px 3px;
        }
    }
}



h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    margin-bottom: 10px;
}
h1 {
    font-size: 1.4rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1.1rem;
}



button {
    background: none;
    color: $fgColor;
    border: solid 2px $fgColor;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 2px;

    &:hover {
        cursor: pointer;
        background: $fgColor;
        color: $bgColor;
    }

    &.close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 23px;
        height: 23px;
        border-radius: 4px;
        background-color: $errorFGColor;
        color: inherit;
        border: solid 2px;
        box-sizing: border-box;
        padding: 0px;

        &:hover {
            background-color: lighten($errorFGColor, 10%);
        }
    }
}


// General input styling for consistency.
select,
input[type="text"],
input[type="number"],
input[type="checkbox"],
input[type="color"],
input[type="search"]
{
    background-color: $navBGColor;
    color: $fgColor;
    border: solid 1px $fgColor;
    box-sizing: border-box;
    font-size: 0.9rem;
    border-radius: 1px;
    min-height: 25px;
}
input[type="checkbox"] {
    margin-top: 2px;

    &:hover {
        cursor: pointer;
    }
}

label:hover {
    cursor: pointer;
}


// Scrollbar styling

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: $navBGColor;
}
::-webkit-scrollbar-thumb {
    background: $bgColor;
    border: solid 3px $navBGColor;

    &:hover {
        background: lighten($bgColor, 10%);
    }

    &:active {
        background: lighten($bgColor, 20%);
    }
}

